.hero__sectoin {
  width: 100%;
  height: 100vh;
  /* height: calc(100vh - 76px); */
  position: relative;
  max-height: 700px;
}
.hero__sectoin.tv {
  height: 100vh;
}
.hero__sectoin .slick-dots {
  bottom: 20px;
  column-gap: 20px;
}
.hero__sectoin .slick-dots li {
  width: fit-content;
  height: auto;
  margin: 0;
}
.hero__sectoin .slick-dots li button {
  width: 10px;
  height: auto;
}
.hero__sectoin .slick-dots li.slick-active button:before {
  color: var(--color__yellow);
}
.hero__sectoin .hero__slick.ph .slick-dots li.slick-active button:before {
  color: var(--color__purple);
}
.hero__sectoin .hero__slick.tv .slick-dots li.slick-active button:before {
  color: var(--color__dark__purple);
  color: #FFF;
}
.audio__player__box {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translatex(-50%);
  background-color: rgba(0, 0, 0, 0.596);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 30px;
}