.wedding__section {
  margin: 120px auto;
}
.wedding__section .section__title {
  text-align: center;
}
.wedding__section .section__title span {
  color: var(--color__dark__purple);
  font-weight: 400;
}

.wedding__section .weddings__media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.wedding__section .weddings__media .weddings__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weddings__media .weddings__text h4 {
  color: var(--color__dark__purple);
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 500;
}
.weddings__media .weddings__text p {
  font-size: 16px;
  line-height: 32px;
}
.weddings__media .weddings__text p span {
  color: var(--color__dark__purple);
  margin-right: 6px;
}
.wedding__section .weddings__media:last-of-type {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 40px;
  grid-template-columns: calc(25% - (20px / 3)) calc(25% - (20px / 3)) calc(50% - (20px / 3)); */
  flex-direction: row-reverse;
  margin-top: 40px;
}

.wedding__section .weddings__media div {
  border-radius: 10px;
  overflow: hidden;
  height: 350px;
  flex: 1;
}

.wedding__section .weddings__media video,
.wedding__section .weddings__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
}

.wedding__section .weddings__media div:hover img {
  transform: scale(1.055555555555) rotate(2deg);
}

@media(max-width: 767px) {
  .wedding__section .weddings__media {
    display: flex;
    flex-wrap: wrap;
  }

  .wedding__section .weddings__media>div {
    flex-basis: 100%;
  }
}